@model IEnumerable<EmployeeView>

@{
    ViewBag.Title = "Index";
}

@await Component.InvokeAsync("Sections");

<table>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.Id</td>
        <td>@item.FirstName</td>
        <td>@item.Age</td>
        <td><a asp-action="Details" asp-route-id="@item.Id">Detail</a></td>
        <td><a asp-action="Edit" asp-route-id="@item.Id">Edit</a></td>
        <td><a asp-action="Delete" asp-route-id="@item.Id">Delete</a></td>
    </tr>
    }
</table>
<hr />
<a asp-action="Edit" class="btn btn-success">Add</a>
<hr />
